<table border="1px">
    <tr>
        <td>
            Number
        </td>
        <td>
            Summary
        </td>
        <td>
            Description
        </td>
        <td>
            Priority
        </td>
        <td>
            Assignee
        </td>
    </tr>
    @foreach (var item in ViewBag.Issues)
            {
        <tr>
            <td>
                @item.Number
            </td>
            <td>
                @item.Summary
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Priority
            </td>
            <td>
                @item.Assignee
            </td>
        </tr>
    }
</table>
