<table class="table table-fixed table-striped">
    <thead>
        <tr>
            <th class="col-lg-1">№</th>
            <th class="col-lg-3">Summary</th>
            <th class="col-lg-4">Description</th>
            <th class="col-lg-2">Priority</th>
            <th class="col-lg-2">Assignee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Issues)
        {
            <tr>
                <td class="col-lg-1">@item.Number</td>
                <td class="col-lg-3">@item.Summary</td>
                <td class="col-lg-4">@item.Description</td>
                <td class="col-lg-2">@item.Priority</td>
                <td class="col-lg-2">@item.Assignee</td>
            </tr>
        }
    </tbody>
</table>
