@model IssueTracker.Models.Issue
<!-- FORM -->
<script>
    function loadPageforNew() {
        document.getElementById('ProjectName').value = "@Model.Project.Name"
        document.getElementById('Number').value = "@Model.Number";
        document.getElementById("LifeCycle").value = "@Model.LifeCycle.State";
        document.getElementById('Summary').value = "@Model.Summary";
        document.getElementById('Assignee').value = "@Model.Assignee";
        document.getElementById("Description").value = "@Model.Description";
        document.getElementById("Priority").value = "@Model.Priority";
    }
</script>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title">Edit issue</h4>
    </div>
    <form role="form" method="post" action="/Home/SaveEditedIssue">
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.Project.Id" name="ProjectId" />
        @Html.Partial("~/Views/Home/PartialViewForCreateAndEdit.cshtml");
    </form>
</div>


