@using IssueTracker.Models;
@model List<Issue>

<script type="text/javascript">
    $(function () {
        $('.sortable').sortable({
            placeholder: 'placeholder',
            connectWith: ".connectedSortable",
        });

        $('.drop').droppable({
            drop: function (event, ui) {
                var issueId = ui.draggable.attr("id");
                var tableId = $(this).attr("id");
                tableId = parseInt(tableId);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveLifeCycleInIssueInKanban")/' + tableId + "/" + issueId,
                });
            }
        });
    });
</script>

<div class="col-lg-12">
    <div class="col-lg-4">
        <h3>Backlog</h3>
        <div class="sortable connectedSortable drop" id="1table" style="background-color:Lavender;">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.LifeCycleId == 1)
                    {
                        <div class="card" id="@item.Id">
                            <p>Summary: @item.Summary</p>
                            <p>Priority: @item.Priority</p>
                            <p>Assignee: @item.Assignee</p>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="col-lg-4">
        <h3>In Progress</h3>
        <div class="sortable connectedSortable drop" id="6table" style="background-color:Khaki;">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.LifeCycleId == 6)
                    {
                        <div class="card" id="@item.Id">
                            <p>Summary: @item.Summary</p>
                            <p>Priority: @item.Priority</p>
                            <p>Assignee: @item.Assignee</p>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Done</h3>
        <div class="sortable connectedSortable drop" id="7table" style="background-color:PaleGreen;">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.LifeCycleId == 7)
                    {
                        <div class="card" id="@item.Id">
                            <p>Summary: @item.Summary</p>
                            <p>Priority: @item.Priority</p>
                            <p>Assignee: @item.Assignee</p>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>