@using IssueTracker.Models;
@model List<Issue>

<div>
    <table class="table table-fixed table-striped">
        <thead>
            <tr>
                <th class="col-lg-1">№</th>
                <th class="col-lg-3">Summary</th>
                <th class="col-lg-4">Description</th>
                <th class="col-lg-2">Priority</th>
                <th class="col-lg-2">Assignee</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="col-lg-1">@item.Number</td>
                        <td class="col-lg-3">@item.Summary</td>
                        <td class="col-lg-4">@item.Description</td>
                        <td class="col-lg-2">@item.Priority</td>
                        <td class="col-lg-2">@item.Assignee</td>
                        <td> <button type="button" id="editButton" name="editButton" value="@item.Id" class="btn btn-default" data-toggle="modal" data-target="#issue">Edit</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <script>
        $(function () {
            $('button[name=editButton]').click(function () {
                var projectId = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("OpenWindowForCreateOrEditIssue", "Home")',
                    data: { 'projectId': projectId, 'issueId': 0 },
                    success: function (data) {
                        $('#dialogContent').html(data);
                        $('#issue').modal('show');
                    }
                });
            });
        })
    </script>
</div>
