<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    <!-- HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">IssueTracker</span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Kanban", "Kanban", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <!-- CONTENT -->
    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- CONTENT -->

    <!-- FOOTER -->
    <footer style="display: none;">
        <hr />
        <p class="text-center">© 2018</p>
        <hr />
    </footer>
    <!-- FOOTER -->
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/scripts/validate.min.js")*@
    @RenderSection("scripts", required: false)
</body>
</html>